.form-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../img/formbackground.webp');
    background-repeat: repeat;
    background-size: 400px 400px;
    opacity: 0.3;
  }
  
  .form-container {
    position: relative;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #C8D9E6;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .form-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #555;
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
  }
  
  .form-fields label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
  
  .form-fields input,
  .form-fields textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: black;
    background-color: #F4EFE6;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #F4EFE6;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 
  .submit-button:hover {
    background-color: #152238;
    color:#F4EFE6;
  }
  