.button {
    background-color: #F4EFE6;
    color: black;
    border: none;
    padding: 0px 20px;
    margin: 0 5px;        
    cursor: pointer;
    text-decoration: none;  
}

.button a {
    color: inherit;         
    text-decoration: none;  
}
