.card {
    background-color: #F4EFE6;
    border: solid #C8D9E6 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 280px;
    height: 280px;
    margin-left: 100px;
    color:black;
    border-radius: 25px;
    margin-top: 100px;
    padding-top: 20px;
}



