.card {
    background-color: #F4EFE6;
    border: 3px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
    margin: 20px auto;
    color: #333333;
    border-radius: 15px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


