.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../img/formbackground.webp');
    background-repeat: repeat;
    background-size: 400px 400px;
    opacity: 0.3;
}